.container {
    width: 100%;
    text-align: center;
    max-height: 700px;
    overflow: hidden;
    background: #fff;
    box-shadow: 50px 50px 50px #c2b9b0;
    .banners {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
    }
}