* {
  box-sizing: border-box;
  font-family: "Assistant", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

// removes the input type=number little arrows on the side
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
li {
  list-style: none;
}
@media only screen and (min-width: 1300px) {
  html {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1800px) {
  html {
    font-size: 1.6rem;
  }
}
